.footerContainer {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    filter: drop-shadow(5px 0px 10px rgba(0,0,0,0.5));
    padding: 0;

    a {
        text-decoration: none;
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }

    .footerInfo {
        background-color: #ff9900;
        position: relative;
        bottom: 0px;
        display: grid;
        align-items: start;
        justify-content: space-between;
        grid-template-columns: 2fr 3fr 2fr;
        padding: 30px 0;
        border-bottom: solid 2px white;
    
        .footerInfoComponent {
            position: relative;
            display: flex;
            justify-content: normal;
            align-items: center;
            flex-grow: 1;
            color: white;
            flex-direction: column;
            gap: 10px;
            height: 100%;
    
            .footerInfoComponentContent {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                //font-size: 1.1rem;

                .social {   
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    gap: 5px
                }

                .socialLogo {
                    height: 18px;
                }
            }
        }
    
        .central {
            border-left: solid 2px white;
            border-right: solid 2px white;
        }
    }
    
    .anchor {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #eb7800;
        z-index: 13;
        padding: 7px 0;
        color: white;
    }
}

// Media queries
@media (max-width: 650px) {
    .footerContainer {
        p {
            font-size: 1rem;
        }

        .footerInfo {
            padding: 0px 20px;
            grid-template-columns: 1fr;

            .footerInfoComponent {
                padding-top: 20px;
                padding-bottom: 20px;
                height: auto;
            }    

            .central {
                border-left: 0px;
                border-right: 0px;
                border-top: solid 2px white;
                border-bottom: solid 2px white;
            }
        }

        .anchor {
            flex-direction: column;
            padding: 10px 20px;
            justify-content: center;

            .dash {
                display: none;
            }
        }
    }
}