.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 0px;
    gap: 10px;

    .text {
        text-decoration: none;
        color: #5c5c5c;
    }
    
    .moduleButton {
        background-color: #ff9900;
        border-radius: 20px;
        padding: 7px 15px;
        border: none;
        color: white;
        font-size: 16px;

        &:hover {
            cursor: pointer;
            background-color: #eb7800;
        }
    }
}

@media screen and (max-width: 450px) {
    .row {
        .text {
            font-size: 16px;
        }
    }
}