.loaderPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  /* per Safari */
  background-color: rgba(152, 152, 152, 0.3);
  /* sfondo semi-trasparente */
  z-index: 9999;
}

.loaderCircle {
  animation: spin 1s linear infinite;
  color: white;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}