$light-orange: #ff9900;
$dark-orange: #eb7800;
$text-light-blue: #1baff5;
$text-light-grey: #a4a4a4;
$text-grey: #5c5c5c;
$teal: #24eded;
$not-so-dark-blue: #1063ff;
$dark-blue: #024c81;
$cream-orange: #f9e8b2;