html {
  width: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

p {
  margin: 0px;
  overflow-wrap: normal;
  font-size: 1rem;
  font-weight: 300;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  color: #1baff5;
}

h3 {
  font-size: 1.5rem;
  margin: 0;
}

.pageContent {
  padding-left: 5%;
  padding-right: 5%;
}