.hookContainer {
  width: 100%;
  height: 90vh;
  background: linear-gradient(to bottom right, $teal, $not-so-dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  .cloud {
    position: absolute;
    z-index: 0;
    
  }

  .c1 {
    width: 250px;
    left: 5vw;
    top: 40vh;
    animation: leftEntering 0.5s ease-out, move1 5s ease-in-out 0.5s infinite;
  }

  .c2 {
    right: 5vw;
    top: 20vh;
    width: 280px;
    animation: rightEntering 0.5s ease-out, move1 4.5s ease-in-out 0.5s infinite reverse;
  }
}

.titleContainer {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;

  p {
    color: white;
    font-weight: 800;
    text-shadow: 2px 2px 0px $dark-blue;
  }

  .p1 {
    font-size: 3rem;
  }

  .p2 {
    font-size: 3.5rem;
  }

  .vdc {
    font-size: 2rem;
    font-weight: normal;
  }
}

@keyframes move1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes leftEntering {
  0% {
    transform: translateX(-5vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rightEntering {
  0% {
    transform: translateX(+5vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}