.desktopNavbarContainer {
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    z-index: 20;
}

.desktopNavbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: white;
    border: solid 2px white;
    border-radius: 10px;
    box-sizing: content-box;
    z-index: 20;
}

.link {
    padding: 15px 10px;
    text-decoration: none;
    user-select: none;
    background-color: #ff9900;
    color: white;

    &:hover {
        cursor: pointer;
        background-color: #eb7800;
    }
}

.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdownTrigger {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    .linkText {
        font-size: 16px;
    }
}

.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ff9900;
    left: 30px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 10px;

    .dropdownLink {
        width: 100%;
        text-align: center;
        text-decoration: none;
        user-select: none;
        background-color: #ff9900;
        color: white;
        border-radius: 3px;
        padding: 2px 5px;

        &:hover {
            cursor: pointer;
            background-color: #eb7800;
        }
    }
}

.modulesSelectorArrow {
    fill: white;
}

@media (max-width: 785px) {
    .desktopNavbarContainer {
        display: none;
    }
}