.desktopNavbarContainer {
    position: absolute;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 100%;
    z-index: 20;
}

.desktopNavbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    background-color: white;
    border: solid 2px white;
    border-radius: 10px;
}

.link {
    padding: 15px 10px;
    text-decoration: none;
    user-select: none;
    background-color: #ff9900;
    color: white;

    &:hover {
        cursor: pointer;
        background-color: #eb7800;
    }
}

.left {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width: 683px) {
    .desktopNavbarContainer {
        display: none;
    }
}