.mobileNavbarContainer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 0px;
    background-color: #ff9900;
    z-index: 20;
    border-bottom: solid 2px white;
    border-radius: 0px 0px 10px 10px;
    filter: drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.5));

    .headerSection {
        box-sizing: border-box;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 7px 20px;
        color: white;

        p {
            font-size: 1.5rem;
        }

        .menu {
            position: relative;
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            border-radius: 5px;
        }

        span {
            position: absolute;
            background-color: white;
            width: 30px;
            height: 2px;
            border-radius: 1px;
            display: block;
            transition: transform 0.5s, width 0.5s;
        }

        .menu:hover {
            cursor: pointer;
        }


        .line1 {
            transform: translateY(-10px);
        }

        .menu .toggleLine1 {
            transform: translateY(0px) rotate(45deg);
        }

        .menu .toggleLine2 {
            width: 0%;
        }

        .line3 {
            transform: translateY(10px);
        }

        .menu .toggleLine3 {
            transform: translateY(0px) rotate(-45deg);
        }
    }

    .linkSection {
        width: 100%;
        box-sizing: border-box;
        padding-left: 20px;
        padding-right: 20px;

        .linkContainer {
            background-color: #eb7800;
            border: solid 2px white;
            display: flex;
            flex-direction: column;
            width: 100%;
            border-radius: 10px;
            justify-content: center;

            .link {
                background-color: #eb7800;
                display: flex;
                justify-content: center;
                text-decoration: none;
                color: white;
                padding: 3px 0px;
                border-top: solid 1px white;
                font-size: 1.2rem;
            }

            .link:hover {
                cursor: pointer;
                background-color: #ff9900;
            }

            .top {
                border-radius: 10px 10px 0 0;
                border-top: 0px;
            }

            .bottom {
                border-radius: 0 0 10px 10px;
            }

            .yearsDropdown {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                .dropdownTrigger {
                    display: flex;
                    justify-content: center;
                    color: white;
                    align-items: center;
                    width: 100%;
                    align-items: center;
                    flex-direction: row;
                    gap: 10px;
                    font-size: 1.2rem;
                    padding: 3px 0px;
                    border-top: solid 1px white;

                    &:hover {
                        background-color: #ff9900;
                        cursor: pointer;
                    }
                }

                .modulesSelectorArrow {
                    fill: white;
                }

                .yearsLinkContainer {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: #ff9900;
                    border-radius: 10px;
                    width: 90%;
                    border: 1px solid white;
                }

                .dropdownLink {
                    display: flex;
                    justify-content: center;
                    text-decoration: none;
                    color: white;
                    font-size: 1.2rem;
                    width: 100%;

                    &:hover {
                        background-color: #eb7800;
                        cursor: pointer;
                    }
                }
            }
        }

    }
}

@media (min-width: 785px) {
    .mobileNavbarContainer {
        display: none;
    }
}