.pageContent {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: relative;
    padding-left: 10%;
    padding-right: 10%;
    overflow-y: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #5c5c5c;
}

.previewContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .documentPreview {
        border: solid 2px #5c5c5c;
        width: 1000px;
        height: 411px;

        &:hover {
            cursor: pointer;
        }
    }

    .infants {
        border: solid 2px #5c5c5c;
        width: 1000px;
        height: 600px;

        &:hover {
            cursor: pointer;
        }
    }
}

.masonryGrid {
    display: flex;
    max-width: 100%;
    gap: 50px;
}

.masonryColumn {
    background-clip: padding-box;
}

.images {
    max-width: 100%;

    &:hover {
        cursor: pointer;
    }
}

.lightBox {
    overflow: hidden;
}

.dbContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    .downloadButton {
        width: 40%;
        background-color: #ff9900;
        color: white;
        font-size: 1.5rem;
        border: none;
        border-radius: 1.5rem;
        padding-top: 5px;
        padding-bottom: 5px;

        &:hover {
            cursor: pointer;
            background-color: #eb7800;
        }
    }
}

@media (max-width: 1000px) {
    .previewContainer {
        .documentPreview {
            width: 600px;
            height: 243px;
        }
        .infants {
            width: 600px;
            height: 360px;
        }
    }
}

@media (max-width: 650px) {
    .dbContainer {
        .downloadButton {
            width: 100%;
        }
    }
    .previewContainer {
        .documentPreview {
            width: 400px;
            height: 165px;
        }
        .infants {
            width: 400px;
            height: 260px;
        }
    }
}

@media (max-width: 550px) {
    .dbContainer {
        .downloadButton {
            width: 100%;
        }
    }
    .previewContainer {
        .documentPreview {
            width: 300px;
            height: 118px;
        }
        .infants {
            width: 300px;
            height: 180px;
        }
    }
}