.year {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 350px;
    height: 350px;
    z-index: 13;

    .flower {
        position: absolute;
        width: 95%;
        z-index: 13;
        left: -10px;
    }

    .land {
        position: absolute;
        bottom: 0px;
        width: 40%;
    }

    .titleDescriptionSection {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        z-index: 15;
        gap: 10px;
        top: -35px;
        left: -5px;

        .title {
            text-align: center;
            margin: 0;
            color: #1baff5;
            font-size: 25px;
            width: 70%;
        }

        .description {
            color: #a4a4a4;
            font-size: 1.2rem;
        }

        .discoverButton {
            background-color: #ff9900;
            color: white;
            border: 0;
            border-radius: 20px;
            padding: 7px 12px;
            font-size: 1.1rem;

            &:hover {
                background-color: #eb7800;
                cursor: pointer;
            }
        }
    }
}